.cameraOverlay {
    font-family: arial;
    color: ivory;
    font-weight: bold;
    position: relative;
}

.location {
    float: left;
    border: 2px solid black;
    padding: 10px;
    background-color: black;
    width: fit-content;
}

.recTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    padding: 10px;
    background-color: black;
    width: fit-content;
}

.redDot {
    margin-right: 5px;
    height: 25px;
    width: 25px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
}

.cctvTitle {
    float: left;
    border: 2px solid black;
    padding: 10px;
    background-color: black;
    width: fit-content;
    margin-right: 10px;
}

.data {
    font-family: arial;
    color: ivory;
    position: relative;
    margin-top: 25%;
    text-align: center;
}

.left {
    float: left;
    text-align: left;
    margin-left: 5%;
}

.right {
    float: right;
    text-align: right;
    margin-right: 5%;
}

.statusImg {
    width: 150px;
    height: 150px;
}

.chooseHd {
    font-family: arial;
    text-align: center;
    color: #E1E1DE;
}

.chooseTeam {
    border-radius: 5px;
    background-color: #125F96;
    width: 50%;
    height: 50%;
}

.teamBtn {
    background-color: #E32A27;
    border: 1px solid #E32A27;
    border-radius: 5px;
    padding: 10px;
    font-family: arial;
    color: ivory
}

.teamBtn:hover {
    cursor: pointer;
    border: 1px solid black;
}

.proceed {
    background-color: #E32A27;
    border: 1px solid #E32A27;
    border-radius: 5px;
    padding: 10px;
    font-family: arial;
    color: ivory
}

.proceed:hover {
    cursor: pointer;
    border: 1px solid black;
}